@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('themeLight.png');
    transition: background 0.2s linear;
}

body.dark {
    background-image: url('themeDark.png');
}

.main {
    background-color: #ccc;
    width: 400px;
    height: 175px;
    margin: 200px auto;
    border-radius: 4px;
    position: relative;
    padding: 30px;
}


.badge {
    background-color: #e66357;
    color: white;
    padding: 3px 8px;
    width: 80px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    top: -10;
    left: 155px;
    font-family: sans-serif;
}

body.dark .badge {
    color: black;
}

.time {
    background-color: #ebebeb;
    text-align: center;
    font-size: 48px;
    height: 100%;
    padding-top: 25px;
    border-radius: 4px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

body.dark .time {
    background-color: rgba(51, 46, 46, 0.315);
    color: white;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    height: 26px;
    width: 50px;
    position: relative;
    transform: scale(1.25);
    transition: background 0.2s linear;
}

.checkbox:checked + .label{
    background-color: rgb(11, 122, 196);
}

.ball {
    background-color: white;
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.toggle-position {
    position: absolute;
    top: 25px;
    right: 110px;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
