* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
}

.nav-menu {
    display: flex;
}

.nav-items {
    display: flex;
}

.pic img {
    height: 40px;
    width: 40px;
    border: 2px solid grey;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
}

.nav-items li {
    list-style: none;
    margin: 10px 20px;
    padding: 4px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.burger {
    position: absolute;
    right: 4px;
    top: 10px;
    cursor: pointer;
}

.line {
    width: 30px;
    margin: 4px;
    height: 4px;
    background: white;
    visibility: hidden;
}