
.container {
margin-top: 0px;
    text-align: center;
    }
h1{
    text-align: center;
    font-size: 28px;
}
input {
    width: 230px;
    height: 40px;
    border:5px solid #244624;
    border-radius: 21px;
   font-size: 34px;
}
button{
    margin: 5px;
    border-radius: 20px;
    font-size: 30px;
    background: #978fa0;
    text-align: center;
    width: 50px;
    height: 50px;
}
.calculator {
    border: 4px solid #13695d;
    background-color: #ff99f7;
    padding: 8px;
    border-radius: 53px;
    display: inline-block;
}
span {
    color: rgb(26, 197, 209);
    font-size: larger;
}

 